.img-cont {
  width: 375px;
  height: auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.img {
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 1440px) {
  .img-cont {
    height: 480px;
    justify-content: center;
  }

  .img {
    height: 440px;
    width: 480px;
  }
}
