@use "../../utilities/variables";

// .page-container {
//   background-color: variables.$primaryColor;
// }

// TODO: Fix the background color of the entire site using variable white
// TODO: Fix the font family for the entire site
// TODO: Do the responsive layout for desktop

.content-container {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 375px;
}

.text-container {
  width: 100%;
}

.text-headline {
  font-size: 30px;
  font-weight: 700;
  color: variables.$neutralDarkSlate;
}

.text-padd {
  padding-left: 1.5rem;
}

@media only screen and (min-width: 1440px) {
  .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .text-container {
    width: 35%;
  }
}
