<form class="example-form">
  <div class="label-style">Email address</div>
  <mat-form-field appearance="outline" class="example-full-width padding-style">
    <input
      type="email"
      matInput
      [formControl]="emailFormControl"
      placeholder="email@company.com"
      [class.my-class]="
        emailFormControl.hasError('email') &&
        !emailFormControl.hasError('required')
      "
    />
    @if (emailFormControl.hasError('email') &&
    !emailFormControl.hasError('required')) {
    <mat-error class="above-input-error">Valid email required</mat-error>
    }
  </mat-form-field>

  <div class="padding-style">
    <button mat-button class="submit-btn" (click)="submitEvent()">
      Subscribe to monthly newsletter
    </button>
  </div>
</form>
