@use "../../../utilities/variables";

.form-style {
  min-width: 150px;
  max-width: 500px;
}

.label-style {
  font-size: 0.8rem;
  font-weight: 700;
  padding: 2rem 0rem 0.5rem 0rem;
  color: variables.$neutralDarkSlate;
}

.form-field-style {
  width: 20rem;
  padding: 1px;
}

.input-style {
  color: variables.$primaryTomato !important;
}

// Change the border-radius for the angular material input
:host ::ng-deep .mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 0.4rem;
}

.above-input-error {
  position: absolute;
  bottom: 3.8rem;
  right: -0.8rem;
  color: variables.$primaryTomato;
  font-weight: 500;
  font-size: 0.8rem;
}
