@use "../../../utilities/variables";

.example-form {
  min-width: 150px;
  max-width: 500px;
}

.example-full-width {
  width: 20rem;
  padding: 1px;
}

// Change the border-radius for the angular material input
:host ::ng-deep .mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 0.4rem;
}

.above-input-error {
  position: absolute;
  bottom: 3.8rem;
  right: 0;
  font-weight: 500;
  font-size: 0.8rem;
  color: variables.$primaryTomato;
}

.padding-style {
  padding-left: 1.5rem;
}

.label-style {
  font-size: 0.9rem;
  font-weight: 700;
  padding: 2rem 0rem 0.5rem 1.5rem;
  color: variables.$neutralDarkSlate;
}

.submit-btn {
  background-color: variables.$neutralDarkSlate;
  color: variables.$neutralWhite !important;
  width: 20rem;
  font-weight: 500;
  padding: 1.5rem 0rem;
  border-radius: 0.5rem;
}

.submit-btn:hover {
  color: variables.$neutralWhite !important;
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
}

.my-class {
  color: variables.$primaryTomato !important;
}
