<form class="form-style">
  <div class="label-style">Email address</div>
  <mat-form-field appearance="outline" class="form-field-style">
    @if (emailFormControl.hasError('email') &&
    !emailFormControl.hasError('required')) {
    <input
      type="email"
      matInput
      class="input-style"
      [formControl]="emailFormControl"
      placeholder="email@company.com"
    />
    <mat-error class="above-input-error">Valid email required</mat-error>
    } @else {
    <input
      type="email"
      matInput
      [formControl]="emailFormControl"
      placeholder="email@company.com"
    />
    }
  </mat-form-field>
</form>
